#content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 90vh;
  width: 100%;
  margin: 0 auto;
}

#buttonRow {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
}
button {
  font-size: x-large;
  height: 8vh;
  min-height: 90px;
}
button#playPause { flex: 5 }

#ping {
  flex: 2;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#ping>button {
  font-size: medium;
  height: 100%;
  min-height: 30px;
}
button#pingCenter {
  font-size: large;
  grid-column: 1 / span 2;
}

pre {
  font-family: monospace;
  min-height: 130px;
  height: 100%;
  width: 100%;
  display: block;
  overflow: scroll;
  border: 1px solid black;
}

#currentSound.standby::after { content: "STANDBY"; font-weight: normal; color: grey; }
#currentSound.waiting::after { content: attr(data-waiting-text); font-weight: normal; }
#currentSound.playing::after { content: "PLAYING"; font-weight: bold; }

