body {
  font-family: sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 1.2em;
}

#content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 90vh;
  width: 100%;
  margin: 0 auto;
}
#content>div {
  margin-bottom: 1em;
}

#buttonRow {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  height: 8vh;
  min-height: 90px;
}
#buttonRow button {
  height: 100%;
}

button#playPause {
  font-size: x-large;
  flex: 5
}

#pingContainer {
  flex: 2;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: inherit;
}
#pingContainer>button {
  font-size: medium;
  min-height: 30px;
}
button#pingCenter {
  font-size: large;
  grid-column: 1 / span 2;
}

#statusLog {
  font-family: monospace;
  min-height: 130px;
  height: 100%;
  width: 100%;
  display: block;
  overflow-y: scroll;
  border: 1px solid black;
  margin-top: 0;
}

#controlContainer {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  column-gap: 0.5em;
  row-gap: 0.5em;
}
#controlContainer label {
  text-align: right;
  font-style: italic;
}

#audioDeviceSelectionContainer > * {
  margin: 0;
  height: 100%;
  vertical-align: top;
  max-width: 50%;
}

#volumeSlider {
  min-width: 100px;
  width: 30%;
  vertical-align: bottom;
}
#volumeSliderContainer::after {
  content: attr(data-uncommitted-value);
}

#currentSoundIndicator.standby::after {
  content: "STANDBY";
  font-weight: normal;
  color: grey;
}
#currentSoundIndicator.waiting::after {
  content: attr(data-waiting-text);
  font-weight: normal;
}
#currentSoundIndicator.playing::after {
  content: "PLAYING";
  font-weight: bold;
}

/* Accent colors chosen so that the browser doesn't auto-choose a black
 * background in the bar to guarantee contrast.
 * See: https://web.dev/accent-color/#guaranteeing-contrast
 */
#currentSoundIndicator progress {
  min-width: 100px;
  width: 30%;
  vertical-align: bottom;
}
#currentSoundIndicator.standby progress { display: none; }
#currentSoundIndicator.playing progress { accent-color: rgb(0, 160, 0); }
